<a class="flex justify-start cursor-pointer" [routerLink]="['/product', product().publicId]">
  <div class="flex flex-col justify-center rounded-xl w-full min-h-[400px] h-full shadow-xl">
    <figure class="flex justify-center items-center h-full">
      <img
        [src]="'data:' + product().pictures[0].mimeType + ';base64,' + product().pictures[0].file"
        [width]="250"
        [height]="250"
        alt="{{ product().name }}"
      />
    </figure>
    <div class="p-5 justify-end">
      <div class="text-sm">{{product().brand.name}}</div>
      <h2 class="card-title w-full truncate">
        <div class="truncate">{{product().name}}</div>
        <div class="badge badge-secondary">НОВИНКА</div>
      </h2>
      <div>
        <span class="line-through me-2">{{product().price + 200 | currency:'UAH':'symbol-narrow'}}</span>
        <span class="me-2">{{product().price | currency:'UAH':'symbol-narrow'}}</span>
      </div>
    </div>
  </div>
</a>
