<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <a class="btn btn-ghost text-xl">
        <div class="border-1 bg-secondary logo p-2 rounded-xl" routerLink="/">EC</div>
      </a>
    </div>
  </div>
  <div class="navbar-center flex">
    <div class="menu menu-sm sm:menu-lg menu-horizontal px-1">
      <li><a href="/">Головна сторінка</a></li>
      <li class="relative z-30">
        <details #productsMenu>
          <summary>Товари</summary>
          @if (categoriesQuery.isSuccess() && subcategoriesQuery.isSuccess()) {
            <div class="absolute left-0 top-full mt-2 bg-base-100 shadow-xl rounded-xl p-4 flex"
                 (mouseenter)="isMenuHovered = true"
                 (mouseleave)="isMenuHovered = false"
                 (clickOutside)="closeMenu(productsMenu)">

              <!-- Ліва колонка: Категорії -->
              <ul class="flex flex-col gap-2 w-[250px]">
                @for (category of categoriesQuery.data().content; track category.publicId) {
                  <li
                    class="font-bold text-primary cursor-pointer hover:underline"
                    (mouseenter)="hoveredCategory = category">
                    {{ category.name }}
                  </li>
                }
              </ul>

              <!-- Права колонка: Підкатегорії -->
              @if (hoveredCategory) {
                <ul class="flex flex-col gap-2 w-[250px] ms-4">
                  @for (subCategory of subcategoriesForHoveredCategory; track subCategory.publicId) {
                    <li>
                      <a class="block hover:underline"
                         [routerLink]="['products']"
                         [queryParams]="{subCategory: subCategory.publicId}"
                         (click)="closeMenu(productsMenu)">
                        {{ subCategory.name }}
                      </a>
                    </li>
                  }
                </ul>
              }
            </div>
          }
        </details>
      </li>
      @if (connectedUserQuery?.status() === "success"
        && oauth2service.hasAnyAuthorities(connectedUserQuery?.data()!, "ROLE_ADMIN")) {
        <li>
          <details #adminMenu>
            <summary>Адмін-панель</summary>
            <ul class="z-30">
              <li>
                <a routerLink="admin/categories/list"
                   (click)="closeMenu(adminMenu)" (clickOutside)="closeMenu(adminMenu)">Категорії</a>
              </li>
              <li>
                <a routerLink="admin/subcategories/list"
                   (click)="closeMenu(adminMenu)" (clickOutside)="closeMenu(adminMenu)">Підкатегорії</a>
              </li>
              <li>
                <a routerLink="admin/brands/list"
                   (click)="closeMenu(adminMenu)" (clickOutside)="closeMenu(adminMenu)">Бренди</a>
              </li>
              <li>
                <a routerLink="admin/products/list"
                   (click)="closeMenu(adminMenu)" (clickOutside)="closeMenu(adminMenu)">Товари</a>
              </li>
            </ul>
          </details>
        </li>
      }
    </div>
  </div>
  <div class="navbar-end pe-4 flex align-items-center">
    <div class="dropdown dropdown-end pe-4">
      <div tabindex="0" role="button">
        @if (this.isConnected()) {
          <div class="flex items-center gap-2">
            <fa-icon [icon]="['fas', 'circle-user']" class="menu-icon text-xl"></fa-icon>
            <span class="text-base">
              {{ connectedUserQuery?.data()?.firstName ?? 'Користувач' }}
            </span>
          </div>
        } @else {
          <fa-icon [icon]="['fas', 'user']" class="menu-icon"></fa-icon>
        }
      </div>
      @if (this.isConnected()) {
        <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow">
          <li>
            <button class="link" (click)="closeDropDownMenu()" routerLink="/users/orders">Мої замовлення</button>
          </li>
          <li>
            <button class="link" (click)="logout()">Вихід</button>
          </li>
        </ul>
      } @else {
        <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow">
          <li>
            <button class="link" (click)="login()">Увійти</button>
          </li>
        </ul>
      }
      @if (this.isConnected()) {
        <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow">
          <li>
            <button class="link" (click)="closeDropDownMenu()" routerLink="/users/orders">Мої замовлення</button>
          </li>
          <li>
            <button class="link" (click)="logout()">Вихід</button>
          </li>
        </ul>
      } @else {
        <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow">
          <li>
            <button class="link" (click)="login()">Увійти</button>
          </li>
        </ul>
      }
    </div>
    <div class="dropdown dropdown-end me-2" routerLink="/cart">
      <div tabindex="0" role="button">
        <fa-icon [icon]="['fas','cart-shopping']" class="menu-icon"></fa-icon>
      </div>
    </div>
  </div>
</div>
